@import "nullstyle.scss";
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
body{
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	height: 100%;
	}
	.header{
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 50;
		&:before{
			content: '';
			background-color: #745cb6;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 3;
		}
	}

	.header_body{
		display: flex;
		justify-content: space-between;
		position: relative;
		height: 80px;
		align-items: center;
	}
	.container{
		max-width: 1180px;
		margin: 0 auto;
	}
	.header_list{
		display: flex;
		position: relative;
		z-index: 3;
	}
	.menu_list-item{
		margin: 0 25px 0 0;
	}
	.menu_list-link{
		color: #fff;
	}
	.header_logo{
		flex: 0 0 auto;
		z-index: 3;
	}
	.header_logo img{
		width: 10%;
		border-radius: 50%;
	}
	.content_text{
		font-size: 18px;
		line-height: 25px;
		p{
			margin-bottom: 20px;
		}
	}
	.content{
		padding: 100px 0 0 0;
	}
	.header_burger{
		display: none;
	}
	@media (max-width: 767px){
		.header_burger{
			display: block;
			position: relative;
			width: 30px;
			height: 20px;
			z-index: 3;
			margin: 20px;
					}
		.header_logo img{
			max-width: 7%;
			border-radius: 50%;
					}
		.header_burger:before,
		.header_burger:after{
			content: '';
			background-color: #fff;
			height: 2px;
			position: absolute;
			width: 100%;
			left: 0;
			transition: all 0.3s ease 0s;
		}
	.header_burger:after{
		bottom: 0px;
	}
	.header_burger:before{
		top: 0px;
	}
	.header_burger span{
			background-color: #fff;
			height: 2px;
			position: absolute;
			width: 100%;
			left: 0;
			top: 9px;
			transition: all 0.3s ease 0s;
					}
					.header_menu{
						position: fixed;
						top: 0;
						left: 0;
						width: 100%;
						background-color: rgb(163, 127, 161);
						height: 100%;
						z-index: 2;
						top: -100%;
						transition: all 0.7s ease 0s;
					}
					.header_list{
						display: block;
						padding: 90px 0 0 0;
						li{
							padding: 0 0 40px 20px;
							line-height: 20px;
						}
						}
						.header_link{
							font-size:25px;
						}
						.header_body{
							height: 60px;
						}
						.header_logo img{
							width: 40%;
							margin: 0 0 0 15px;
						}
						.header_burger.active:before{
							transform:rotate(45deg);
							top: 9px;
						}
						.header_burger.active:after{
							transform:rotate(-45deg);
							top: 9px;
						}
						.header_burger.active span{
							display: none;
						}
						.header_menu.active{
							top: 0;
}
.container{
	max-width: 760px;
	margin: 0 auto;
}
}
.swiper-slide{
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: 100%
}
.swiper-pagination{
	width: 50px;
	height: 3px;
	color: #f7efef;
}
.swiper-button-next, .swiper-button-prev {
	color: #f7efef;
}
.swiper-pagination{
	margin-bottom: 10px;
}
.swiper-pagination-bullet{
	width: 100px;
	height: 3px;
	border-radius: 0;
}
.swiper-pagination-bullet-active{
	background-color: white;
	height: 4px; ;
}
.why_are_we {
	margin: 30px 0;
}

.title_why_are_we {
	font-size: 25px;
	font-family: "Lobster";
	text-align: center;
	margin: 20px 0;
}
.body_why_are_we {
	display: flex;
	justify-content: space-between;
}
.item_why_are_we {
	flex: 0 1 33.333%;
	text-align: center;
}
.img_why_are_we {
	width: 100px;
	height: 100px;
}
.title_title_why_are_we {
	font-family: "Lobster";
	font-weight: 800;
	letter-spacing: 2px;
	margin: 15px 0;
}
.text_why_are_we {
	font-family: "Cormorant Garamond";
}
.about_us {
	padding: 10px;
	background-image: url("/img/main/about.jpg");
	background-position: center;
	
}
.picture_about_us {
	
}
.picture_about_us img{
	object-fit: cover;
}

.picture_about_us {
	flex: 0 1 40%;
	
	
}

.title_about_us {
	font-size: 25px;
	font-family: "Lobster";
	text-align: center;
}

.body_about_us{
	display: flex;
	flex-wrap: wrap;
	gap: 5%;
	justify-content: center;
	margin: 20px 0;
	}
.about_content{
	flex: 0 1 55%;
	text-align: center;
	align-items: center;
	font-family: "Cormorant Garamond";
	font-size: 21px;
	line-height: 170%;
}
.tabs_nav-btn.active{
	background-color: rgb(204, 116, 170);
	color: #f7efef;
	&:hover{
		background-color:  rgb(204, 116, 170);
		color: #f7efef;
;
	}
}
.tabs_nav-btn{
	padding: 15px 30px;
	font-size: 30px;
	font-family: "Cormorant Garamond";
	background-color: #fff;
			&:hover{
		background-color: #e0d9e0;
	transition: all 1s;}
				}
@media (max-width: 600px) {
					.tabs_nav-btn {
						font-size: 25px;
						padding: 10px 10px;
				}
					}
.tabs_nav-btn:nth-child(1){
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}
.tabs_nav-btn:nth-child(3){
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}
.tabs_item{
	display: none;
}
.tabs_item.active{
	display: block;
}
.tab_nav{
	display: flex;
	justify-content: center;
	margin: 15px 0;
}
.catalog_title{
	font-size: 25px;
	font-family: Lobster;
	text-align: center;
}
.catalog{
	margin: 30px 0;
}
.container_column {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
	
}

.item_column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex: 0 1 20%;
	min-width: 250px;
	padding: 0 10px;
		}
@media (max-width: 600px) {
			.container_column {
				flex-direction: column;
			}
		}
.title_column_catalog {
	font-family: "Cormorant Garamond";
	font-size: 25px;
	margin-bottom: 10px;
	font-weight: 800;
}
.img_catalog {
	width: 250px;
	height: 250px;
	object-fit: cover;

}
.more_detailed {
	display: inline-block;
	margin-top: 15px;
	font-size: 20px;
	font-family: "Cormorant Garamond";
	background-color: #67bbca;
	color: #f7efef;
	padding: 5px 10px;
	border-radius: 10px;
	&:hover{
		background-color: #e0d9e0;
		color: #105561;
		transition: background-color 1.2s ease, color 1s ease;
	}
}
.tabs_content{
	margin: 45px 0;
}
.wrapper_tort {
}
.container_tort {
	display: flex;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px 0;
		}
.picture_catalog {
	padding: 0 15px;
	flex: 0 1 66%;
}
.img_picture {
	object-fit: cover;
	height: 650px;
	width: 550px;
}
.content_catalog {
	flex: 0 1 33%;
	padding: 0 15px;
}
.title_content_catalog {
	font-family: "Cormorant Garamond";
	font-size: 25px;
	margin: 10px 0;
	font-weight: 800;
}
.title_catalog_tovar {
	font-size: 25px;
	font-family: Lobster;
	text-align: center;
}
.catalog_text {
	font-size: 20px;
	font-family: "Cormorant Garamond";
	&>p {
		margin-bottom: 15px;
	}
}
.price {
	font-size: 20px;
	font-family: "Cormorant Garamond";
}
form {
	background: #fff;
	padding: 20px;
	border-radius: 8px;
	max-width: 400px;
	margin: auto;
	box-shadow: 0 0 10px rgba(0,0,0,0.1);
 }

 .label_name, .label_phone, .label_message {
	display: block;
	margin-bottom: 6px;
	font-weight: bold;
 }

 .input_text, .input_tel,.textarea_form {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
 }

.button_form {
	background-color: #28a745;
	color: white;
	padding: 10px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	&:hover {
		background-color: #218838;
	 }
 }

 .title-form{
	font-size: 35px;
	font-family: "Cormorant Garamond";
	font-weight: bold;
	font-style: italic;
 }
.text-form{
	.font-size: 22px;
	font-family: Lobster;
}
.content-form{
	text-align: center;
	margin-bottom: 40px;
}
	.contact-form{
	margin: 25px 0;
	}
	@media (max-width: 600px) {
		body {
	width: 100%;
	font-size: 13px;
	font-weight: 400;
	overflow-x: hidden;
	}
		}